[submodule "ai_engineer/ai110-module1show-gameglitchinvestigator-starter"]
	path = ai_engineer/ai110-module1show-gameglitchinvestigator-starter
	url = https://github.com/RJUNCC/ai110-module1show-gameglitchinvestigator-starter.git
